wsdl/wsDemanda30Service.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2_01-hudson-189-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2_01-hudson-189-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.wsDemanda24.ree.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.wsDemanda24.ree.es/" name="wsDemanda30Service">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.wsDemanda24.ree.es/" schemaLocation="https://demanda.ree.es:443/WSVisionaV01/wsDemanda30Service?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="eolicaInstalada">
<part name="parameters" element="tns:eolicaInstalada"></part>
</message>
<message name="eolicaInstaladaResponse">
<part name="parameters" element="tns:eolicaInstaladaResponse"></part>
</message>
<message name="demandaGeneracion30">
<part name="parameters" element="tns:demandaGeneracion30"></part>
</message>
<message name="demandaGeneracion30Response">
<part name="parameters" element="tns:demandaGeneracion30Response"></part>
</message>
<message name="valoresMaxMin">
<part name="parameters" element="tns:valoresMaxMin"></part>
</message>
<message name="valoresMaxMinResponse">
<part name="parameters" element="tns:valoresMaxMinResponse"></part>
</message>
<portType name="wsDemanda30">
<operation name="eolicaInstalada">
<input message="tns:eolicaInstalada"></input>
<output message="tns:eolicaInstaladaResponse"></output>
</operation>
<operation name="demandaGeneracion30">
<input message="tns:demandaGeneracion30"></input>
<output message="tns:demandaGeneracion30Response"></output>
</operation>
<operation name="valoresMaxMin">
<input message="tns:valoresMaxMin"></input>
<output message="tns:valoresMaxMinResponse"></output>
</operation>
</portType>
<binding name="wsDemanda30PortBinding" type="tns:wsDemanda30">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="eolicaInstalada">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="demandaGeneracion30">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="valoresMaxMin">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="wsDemanda30Service">
<port name="wsDemanda30Port" binding="tns:wsDemanda30PortBinding">
<soap:address location="https://demanda.ree.es:443/WSVisionaV01/wsDemanda30Service"></soap:address>
</port>
</service>
</definitions>