wsdl/wsDemanda30FinoService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2_01-hudson-189-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2_01-hudson-189-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.wsDemanda24.ree.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.wsDemanda24.ree.es/" name="wsDemanda30FinoService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.wsDemanda24.ree.es/" schemaLocation="https://demanda.ree.es:443/WSVisionaV01/wsDemanda30FinoService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="prevProgFino">
<part name="parameters" element="tns:prevProgFino"></part>
</message>
<message name="prevProgFinoResponse">
<part name="parameters" element="tns:prevProgFinoResponse"></part>
</message>
<message name="valoresMaxMinFino">
<part name="parameters" element="tns:valoresMaxMinFino"></part>
</message>
<message name="valoresMaxMinFinoResponse">
<part name="parameters" element="tns:valoresMaxMinFinoResponse"></part>
</message>
<message name="consultaTiempo">
<part name="parameters" element="tns:consultaTiempo"></part>
</message>
<message name="consultaTiempoResponse">
<part name="parameters" element="tns:consultaTiempoResponse"></part>
</message>
<message name="demandaGeneracionFino">
<part name="parameters" element="tns:demandaGeneracionFino"></part>
</message>
<message name="demandaGeneracionFinoResponse">
<part name="parameters" element="tns:demandaGeneracionFinoResponse"></part>
</message>
<portType name="wsDemanda30Fino">
<operation name="prevProgFino">
<input message="tns:prevProgFino"></input>
<output message="tns:prevProgFinoResponse"></output>
</operation>
<operation name="valoresMaxMinFino">
<input message="tns:valoresMaxMinFino"></input>
<output message="tns:valoresMaxMinFinoResponse"></output>
</operation>
<operation name="consultaTiempo">
<input message="tns:consultaTiempo"></input>
<output message="tns:consultaTiempoResponse"></output>
</operation>
<operation name="demandaGeneracionFino">
<input message="tns:demandaGeneracionFino"></input>
<output message="tns:demandaGeneracionFinoResponse"></output>
</operation>
</portType>
<binding name="wsDemanda30FinoPortBinding" type="tns:wsDemanda30Fino">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="prevProgFino">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="valoresMaxMinFino">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="consultaTiempo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="demandaGeneracionFino">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="wsDemanda30FinoService">
<port name="wsDemanda30FinoPort" binding="tns:wsDemanda30FinoPortBinding">
<soap:address location="https://demanda.ree.es:443/WSVisionaV01/wsDemanda30FinoService"></soap:address>
</port>
</service>
</definitions>