wsdl/wsDemanda30FinoService.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2_01-hudson-189-. --><xs:schema xmlns:tns="http://ws.wsDemanda24.ree.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.wsDemanda24.ree.es/">

<xs:element name="consultaTiempo" type="tns:consultaTiempo"></xs:element>

<xs:element name="consultaTiempoResponse" type="tns:consultaTiempoResponse"></xs:element>

<xs:element name="demandaGeneracionFino" type="tns:demandaGeneracionFino"></xs:element>

<xs:element name="demandaGeneracionFinoResponse" type="tns:demandaGeneracionFinoResponse"></xs:element>

<xs:element name="prevProgFino" type="tns:prevProgFino"></xs:element>

<xs:element name="prevProgFinoResponse" type="tns:prevProgFinoResponse"></xs:element>

<xs:element name="valoresMaxMinFino" type="tns:valoresMaxMinFino"></xs:element>

<xs:element name="valoresMaxMinFinoResponse" type="tns:valoresMaxMinFinoResponse"></xs:element>

<xs:complexType name="consultaTiempo">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="consultaTiempoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="prevProgFino">
<xs:sequence>
<xs:element name="fecha" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="clave" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="prevProgFinoResponse">
<xs:sequence>
<xs:element name="return" type="tns:previstaProgramadaDia" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="previstaProgramadaDia">
<xs:sequence>
<xs:element name="valoresPrevistaProgramada" type="tns:previstaProgramada" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="previstaProgramada">
<xs:sequence>
<xs:element name="prevista" type="xs:int"></xs:element>
<xs:element name="programada" type="xs:int"></xs:element>
<xs:element name="timeStamp" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="demandaGeneracionFino">
<xs:sequence>
<xs:element name="fecha" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="clave" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="demandaGeneracionFinoResponse">
<xs:sequence>
<xs:element name="return" type="tns:generacionComponentesDiaFino" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generacionComponentesDiaFino">
<xs:sequence>
<xs:element name="valoresHorariosGeneracion" type="tns:generacionComponentesFino" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generacionComponentesFino">
<xs:sequence>
<xs:element name="autoprod" type="xs:int"></xs:element>
<xs:element name="carbon" type="xs:int"></xs:element>
<xs:element name="cicloComb" type="xs:int"></xs:element>
<xs:element name="demanda" type="xs:int"></xs:element>
<xs:element name="eolica" type="xs:int"></xs:element>
<xs:element name="gasFuel" type="xs:int"></xs:element>
<xs:element name="hidro" type="xs:int"></xs:element>
<xs:element name="intercambios" type="xs:int"></xs:element>
<xs:element name="intercambiosCableBal" type="xs:int"></xs:element>
<xs:element name="nuclear" type="xs:int"></xs:element>
<xs:element name="solar" type="xs:int"></xs:element>
<xs:element name="timeStamp" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="valoresMaxMinFino">
<xs:sequence>
<xs:element name="fecha" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="clave" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="valoresMaxMinFinoResponse">
<xs:sequence>
<xs:element name="return" type="tns:demandaMaxMin" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="demandaMaxMin">
<xs:sequence>
<xs:element name="max" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="min" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="timeStampMax" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="timeStampMin" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>